$white:#fff;
$darkGray:#333;
nav{
    width:100%;
    text-align: center;
    background: cornflowerblue;
    h1{
        color:$darkGray; 
    }
    p{
        color:$white;
    }
    ul{
        box-shadow:1px 1px 3px black;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li{
            color:brown; 
            cursor:pointer;
            flex-basis: 10rem;
            list-style: none;
        }
    }
}