nav {
  width: 100%;
  text-align: center;
  background: cornflowerblue; }
  nav h1 {
    color: #333; }
  nav p {
    color: #fff; }
  nav ul {
    -webkit-box-shadow: 1px 1px 3px black;
            box-shadow: 1px 1px 3px black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    nav ul li {
      color: yellow;
      cursor: pointer;
      -ms-flex-preferred-size: 10rem;
          flex-basis: 10rem;
      list-style: none; }
